/* yui3 reset.css */
html {
    color: #000;
    background: #FFF
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset,
img {
    border: 0
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}
ol,
ul {
    list-style: none
}
caption,
th {
    text-align: left
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}
q:before,
q:after {
    content: ''
}
abbr,
acronym {
    border: 0;
    font-variant: normal
}
sup {
    vertical-align: text-top
}
sub {
    vertical-align: text-bottom
}
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}
legend {
    color: #000
}
iframe {
    display: block;
}

/* yui3 fonts */
body {
    font: 14px "Microsoft YaHei", arial, helvetica, clean, sans-serif;
    color: #333;
}
select,
input,
button,
textarea {
    font: 99% arial, helvetica, clean, sans-serif
}
table {
    font-size: inherit;
    font: 100%
}
pre,
code,
kbd,
samp,
tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%
}
a {
	text-decoration: none;
}

/* utilities */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.l {
    float: left !important;
}
.r {
    float: right !important;
}
.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}

/** 
 * 以下可追加项目中的公共样式，
 * 比如body上进行全局的文字设置（字体，大小，行高），全局a链接的基本状态定义，
 * 适合页面的栅格系统
 * 页面公共头尾部分等
 */
body {
	width: 1080px;
	height: 1920px;	
	/*overflow: hidden;*/
	background: url(../images/bg.jpg) no-repeat center;
}
i {
	font-style: normal;
}
.container {
	width: 941px;
	margin-left: 82px;
}

.time {
	padding-top: 585px;
	margin-bottom: 40px;
	overflow: hidden;
	color: #fff;
}
.time span {
	float: right;
	font-size: 24px;
}
.time i {
	color: #ffb017;
}
/* content */
.content {
	height: 1078px;
}
.content a {
	color: #fff;
}
.con-hd {
	width: 124px;
	float: left;
}
.con-hd,
.side {
	font-size: 36px;
}
.con-hd li {
	margin-bottom: 2px;
}
.con-hd li a {
	display: inline-block;
	width: 100%;
	height: 214px;
	line-height: 40px;
	text-align: center;
	background-color: #1fa8ff;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.con-hd li span {
	display: inline-block;
	width: 40px;
	margin-top: 62px;
} 
.con-hd .guide span {
	margin-top: 24px;
}
.con-hd .chart span {
	margin-top: 52px;
}
.con-hd .active a {
	width: 115px;
	background-color: #fff;
	color: #ff6800;
	border-left: 9px solid #ff6800;
}
.con-bd {
	width: 717px;
	height: 1078px;
	float: left;
	background-color: #fff9ef;
}
.side {
	widows: 100px;
	float: right;
}
.side li {
	margin-bottom: 2px;
}
.side a {
	display: inline-block;
	height: 217px;
	width: 100px;
	color: #fff;
	text-align: center;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #1fa8ff;
}
/*.side .active a {
	background-color: #ff6800;
}*/
.side a:active{
	background-color: #ff6800;
}
.side li span {
	display: inline-block;
	width: 40px;
	margin-top: 62px;
} 




   
