/**!
 * 沈河区多规合一业务综合查询机-首页样式
 * date:2017-06-28
 * author: csxiang;
 */
.nav {
	padding-top: 766px;
	margin-left: 127px;
}
.nav li {
	float: left;
	margin-right: 33px;
	margin-bottom: 29px;
}
.nav li a {
	display: inline-block;
	width: 402px;
	height: 402px;
	border-radius: 4px;
	color: #fff;
	text-align: center;
}
.nav li i {
	display: inline-block;
	height: 99px;
	width: 101px;
	text-align: center;
	margin-top: 128px;
	margin-bottom: 63px;
}
.nav li p {
	font-size: 42px;
}
.nav .desc a {
	background: linear-gradient(to top, #16a5fc, #3cc1ff);
}
.nav .guide a {
	background: linear-gradient(to top, #f0530c, #ff7215);
}
.nav .chart a {
	background: linear-gradient(to top, #059b0f, #1db30e);
}
.nav .law a {
	background: linear-gradient(to top, #6b03d5, #9629fc);
}
.nav .desc a:active {
	background:#00bff2;
}
.nav .guide a:active {
	background:#ff6b04;
}
.nav .chart a:active {
	background:#4cba2a;
}
.nav .law a:active {
	background:#6a45d0;
}