/* 新点双11 */

.bd {
	position: relative;
	width: 100%;
	height: 3614px;
	margin: 0 auto;
	overflow: hidden;
}

.bg-box {
	width: 100%;
	height: 3614px;
	position: absolute;
	z-index: -1;
	/*left: 50%;
    margin-left: -960px;;*/
   margin: 0 auto;
   overflow: hidden;
}
.bg-box img {
	width: 100%;
	height:100%;
}
.toptitle {
	position: relative;
    width: 1533px;
    left: 50%;
    margin-left: -766.5px;
    margin-top: 25px;
}

/* award-box */
.award-box {
	position: relative;
	width: 1025px;
	height: 542px;
	left: 50%;
	margin-left:-512.5px;
	margin-top: 80px;
	background: url(../images/awardbg.png) no-repeat;
}
.award-box .award-roate {
	float: left;
	margin-top: 108px;
    margin-left: 70px;
    cursor: pointer;
}
.award-box .award-r {
	margin-left: 488px;
	margin-top:125px;
	width: 465px;
}
.award-box p {
	margin-bottom: 10px;
	color: #fff;
	font-size: 16px;
	line-height: 28px;
}
.award-box p .chance-link {
	color: #ffff02;
	text-decoration: underline;
}

.circular-box span {
	position:absolute;
	display: inline-block;
	width:29px;
	height: 215px;
	background:url(../images/circular.png) no-repeat;
}
.circular-box .circular-lt {
	left: 136px;
	top: -145px;
}
.circular-box .circular-rt {
	right: 136px;
	 top: -155px;
}
.gou-right {
	position: absolute;
    right: -60px;
    top: 220px;
    z-index: -1;
}
    
/* soft-box */
.com-btn {
	display: inline-block;
	width:227px;
	height:49px;
	line-height: 45px;
	text-align: center;
	font-size: 22px;
	color: #8d4c09;
	background: url(../images/btnbg.png) no-repeat;
}
.soft-box {
	position: relative;
	left: 50%;
	margin-left:-512.5px;
	margin-top: 80px;
	width: 1025px;
	height: 1867px;
	overflow: hidden;
	background: url(../images/softact.png) no-repeat;
}
.soft-box .flor1 {
	height: 410px;
	margin-top: 90px;
	background: url(../images/florbg.png) no-repeat bottom;
}
.soft-box .flor2,
.soft-box .flor3,
.soft-box .flor4 {
	height: 340px;
	background: url(../images/florbg.png) no-repeat bottom;
}
.flor-img {
	margin: 55px 45px 0 90px;
}
.flor-txt-beat {
	margin: 45px 0 25px 20px;
}
.flor-txt-dec {
	width:475px;
	font-size: 20px;
	color:#fff;
	line-height: 35px;
}
.flor1-txt-dec em {
	font-weight: bold;
}
.flor-btn {
	margin-top: 15px;
    margin-left: 105px;
}
.flor2 .flor-txt {
	margin-left: 80px;
}
.flor2 .flor-img {
	margin: 90px 0px 0 0px;
}
.flor2 .flor-txt-beat {
	margin: 45px 0 5px 0px;
}
.flor3 .flor-txt-beat {
	margin: 45px 0 0px 0px;
}
.flor4 .flor-txt {
	margin-left: 60px;
}
.flor4 .flor-img {
   margin: 80px 0px 0 -18px;
}
.flor4 .flor-txt-beat {
	margin: 20px 0 15px 20px;
}
.flor4 .flor-txt-dec {
	margin-left: 60px;
	text-align: center;
}
.flor5 .flor5_img {
    text-align: center;
    margin-top: 30px;
}
.flor5 .flor-txt-dec {
	width:auto;
	margin-bottom: 20px;
}
.flor5 .flor5-txt {
	text-align: center;
}

/* qrcode-box */
.qrcode-box {
	position: relative;
	left: 50%;
	margin-left:-512.5px;
	margin-top: 80px;
	width: 1025px;
	height: 367px;
	background: url(../images/qrcode.png) no-repeat;
	background-size: 100%;
}
.qr-img {
	float: left;
	width:177px;
	height:177px;
	margin-top: 110px;
    margin-left: 175px;
	background: url(../images/qrbg.png) no-repeat;
}
.qr-img img {
	display: block;
	width:155px;
	height:155px;
	margin: 11px;
}
.qr-r {
	width: 500px;
    font-size: 20px;
    color: #fff;
    float: left;
    margin-top: 122px;
    margin-left: 45px;
}
.qr-r p {
	line-height: 32px;
}
.qr-r .qr-btn {
	display: inline-block;
	width:250px;
	height: 43px;
	text-align: center;
	line-height: 39px;
	margin-left: 100px;
    margin-top: 25px;
	color:#0f3d4a;
	background: url(../images/qrbtn.png) no-repeat;
}
.gou-left {
	position: absolute;
    left: -47px;
    bottom: 220px;
    z-index: -1;
}
