/**!
 * 沈河区多规合一业务综合查询机-四级页面
 * date:2017-06-29
 * author: csxiang;
 */
.level4 .pos {
	color: #666;
	font-size: 24px;
	margin-top: 47px;
	margin-left: 64px;
}
.pos span {
	color: #ff6800;
}

.itemlist {
	margin-top: 140px;
}
.itemlist h1 {
	color: #1fa8ff;
	font-size: 36px;
	text-align: center;
	margin-bottom: 42px;
}
.itemlist ul {
	text-align: center;
}
.itemlist li {
	margin-bottom: 30px;
}
.itemlist li a {
	font-size: 30px;
	color: #666;
}
