/**!
 * 沈河区多规合一业务综合查询机-二级页面
 * date:2017-06-28
 * author: csxiang;
 */
.guideboot{
	width: 386px;
	margin: 187px auto 0;
}
.guideboot li {
	margin-bottom: 72px;
}
.guideboot a {
	display: inline-block;
	height: 194px;
	width: 386px;
	text-align: center;
	border-radius: 9px;
	font-size: 36px;
}
.guideboot a span {
	display: inline-block;
	height: 76px;
	margin-top: 37px;
}
.guideboot .build a {
	background-color: #ff9a54;
}
.guideboot .linepro a {
	background-color: #21b8ff;
}
.guideboot .backup a {
	background-color: #946bdf;
}
