/*
 *
 * 
 * */
.banner {
	height: 300px;
	background: rgba(245,243,239,.5) url(../imgs/banner.jpg) no-repeat center;
}
nav {
	text-align: center;
}
nav a {
	display: inline-block;
	margin-right: 20px;
}
